In [46]:
import pandas as pd
import fuzzywuzzy as fuzz
from fuzzywuzzy import process

In [47]:
pres1 = pd.read_csv(r"C:\Users\jmill\Documents\Presidents data\Presidents_final.csv")
pres2 = pd.read_csv(r"C:\Users\jmill\Documents\Presidents data\Presidents votes occupation college.csv")

In [48]:
pres1.head()

,President,Birth Date,Party,Term Start,Term End,Age,State,Sign
0,George Washington,"February 22, 1732",None,1789,1797,57,Virginia,Pisces
1,John Adams,"October 30, 1735",Federalist,1797,1801,61,Massachusetts,Scorpio
2,Thomas Jefferson,"April 13, 1743",Democratic-Republican,1801,1809,57,Virginia,Aries
3,James Madison,"March 16, 1751",Democratic-Republican,1809,1817,57,Virginia,Pisces
4,James Monroe,"April 28, 1758",Democratic-Republican,1817,1825,58,Virginia,Taurus

In [49]:
pres2.head()

,President,Years in office,Year first inaugurated,Age at inauguration,State elected from,# of electoral votes,# of popular votes,National total votes,Total electoral votes,Rating points,Political Party,Occupation,College,% electoral,% popular
0,George Washington,8,1789.0,57.0,Virginia,69,NA(),NA(),69,842.0,None,Planter,None,100.0,NA()
1,John Adams,4,1797.0,61.0,Massachusetts,132,NA(),NA(),139,598.0,Federalist,Lawyer,Harvard,95.0,NA()
2,Thomas Jefferson,8,1801.0,57.0,Virginia,73,NA(),NA(),137,711.0,Democratic-Republican,"Planter, Lawyer",William and Mary,53.3,NA()
3,James Madison,8,1809.0,57.0,Virginia,122,NA(),NA(),176,567.0,Democratic-Republican,Lawyer,Princeton,69.3,NA()
4,James Monroe,8,1817.0,58.0,Virginia,183,NA(),NA(),221,602.0,Democratic-Republican,Lawyer,William and Mary,82.8,NA()

In [50]:
pres2.dtypes

President                  object
Years in office            object
Year first inaugurated    float64
Age at inauguration       float64
State elected from         object
# of electoral votes       object
 # of popular votes        object
 National total votes      object
Total electoral votes      object
Rating points             float64
Political Party            object
Occupation                 object
College                    object
% electoral                object
% popular                  object
dtype: object

In [51]:
pres2[['President','Year first inaugurated']].tail()

       President  Year first inaugurated
43  Barack Obama                  2009.0
44           NaN                     NaN
45           NaN                     NaN
46           NaN                     NaN
47           NaN                     NaN

In [53]:
pres2 = pres2[:44]
pres2.tail()

,President,Years in office,Year first inaugurated,Age at inauguration,State elected from,# of electoral votes,# of popular votes,National total votes,Total electoral votes,Rating points,Political Party,Occupation,College,% electoral,% popular
39,Ronald Reagan,8,1981.0,69.0,California,489,"43,904,153","86,515,221",538,634.0,Republican,Actor,Eureka College,90.9,50.7
40,George Bush,4,1989.0,64.0,Texas,426,"48,886,097","91,584,820",538,548.0,Republican,Businessman,Yale,79.2,53.4
41,Bill Clinton,8,1993.0,46.0,Arkansas,370,"44,909,326","104,425,014",538,539.0,Democrat,Lawyer,Georgetown,68.8,43.0
42,George W. Bush,8,2001.0,54.0,Texas,271,"50,460,110","105,417,258",538,NaN,Republican,Businessman,Yale,50.4,47.9
43,Barack Obama,n/a,2009.0,47.0,Illinois,365,"69,492,376","129,438,754",538,NaN,Democrat,Lawyer,Columbia University,67.8,53.7

In [54]:
pres2['Year first inaugurated']= pres2['Year first inaugurated'].astype(dtype='int64')
pres2['Age at inauguration'] = pres2['Age at inauguration'].astype(int)
pres2.head()

,President,Years in office,Year first inaugurated,Age at inauguration,State elected from,# of electoral votes,# of popular votes,National total votes,Total electoral votes,Rating points,Political Party,Occupation,College,% electoral,% popular
0,George Washington,8,1789,57,Virginia,69,NA(),NA(),69,842.0,None,Planter,None,100.0,NA()
1,John Adams,4,1797,61,Massachusetts,132,NA(),NA(),139,598.0,Federalist,Lawyer,Harvard,95.0,NA()
2,Thomas Jefferson,8,1801,57,Virginia,73,NA(),NA(),137,711.0,Democratic-Republican,"Planter, Lawyer",William and Mary,53.3,NA()
3,James Madison,8,1809,57,Virginia,122,NA(),NA(),176,567.0,Democratic-Republican,Lawyer,Princeton,69.3,NA()
4,James Monroe,8,1817,58,Virginia,183,NA(),NA(),221,602.0,Democratic-Republican,Lawyer,William and Mary,82.8,NA()

In [55]:
pres1.head()

,President,Birth Date,Party,Term Start,Term End,Age,State,Sign
0,George Washington,"February 22, 1732",None,1789,1797,57,Virginia,Pisces
1,John Adams,"October 30, 1735",Federalist,1797,1801,61,Massachusetts,Scorpio
2,Thomas Jefferson,"April 13, 1743",Democratic-Republican,1801,1809,57,Virginia,Aries
3,James Madison,"March 16, 1751",Democratic-Republican,1809,1817,57,Virginia,Pisces
4,James Monroe,"April 28, 1758",Democratic-Republican,1817,1825,58,Virginia,Taurus

In [23]:
npres = pd.DataFrame(columns = pres1.columns.values.tolist() + pres2.columns.values.tolist())
npres.columns.values

array(['President', 'Birth Date', 'Party', 'Term Start', 'Term End', 'Age',
       'State', 'Sign', 'President', 'Years in office',
       'Year first inaugurated', 'Age at inauguration',
       'State elected from', '# of electoral votes',
       ' # of popular votes ', ' National total votes ',
       'Total electoral votes', 'Rating points', 'Political Party',
       'Occupation', 'College', '% electoral', '% popular'], dtype=object)

In [63]:
pres2['President'] + " - " + pres2['Year first inaugurated'].astype(str)

0          George Washington - 1789
1                 John Adams - 1797
2           Thomas Jefferson - 1801
3              James Madison - 1809
4               James Monroe - 1817
5          John Quincy Adams - 1825
6             Andrew Jackson - 1829
7          Martin Van Buren  - 1837
8     William Henry Harrison - 1841
9                 John Tyler - 1841
10             James K. Polk - 1845
11            Zachary Taylor - 1849
12          Millard Fillmore - 1850
13           Franklin Pierce - 1853
14            James Buchanan - 1857
15           Abraham Lincoln - 1861
16            Andrew Johnson - 1865
17          Ulysses S. Grant - 1869
18       Rutherford B. Hayes - 1877
19         James A. Garfield - 1881
20         Chester A. Arthur - 1881
21          Grover Cleveland - 1885
22         Benjamin Harrison - 1889
23          Grover Cleveland - 1893
24          William McKinley - 1897
25        Theodore Roosevelt - 1901
26       William Howard Taft - 1909
27            Woodrow Wilson - 1913
28         Warren G. Harding - 1921
29           Calvin Coolidge - 1923
30            Herbert Hoover - 1929
31        Franklin Roosevelt - 1933
32           Harry S. Truman - 1945
33      Dwight D. Eisenhower - 1953
34           John F. Kennedy - 1961
35         Lyndon B. Johnson - 1963
36          Richard M. Nixon - 1969
37               Gerald Ford - 1974
38              Jimmy Carter - 1977
39             Ronald Reagan - 1981
40               George Bush - 1989
41              Bill Clinton - 1993
42            George W. Bush - 2001
43              Barack Obama - 2009
dtype: object

In [65]:
for i1, r1 in pres1.iterrows():
    pname = r1[0] + " - " + str(r1[3])
    e = process.extract(pname,pres2['President'] + " - " + pres2['Year first inaugurated'].astype(str),limit=2)
    if e[0][1] != 100:
        print (pname,e)

Martin Van Buren - 1837 [('Martin Van Buren  - 1837', 98, 7), ('Franklin Pierce - 1853', 53, 13)]
Herbert C. Hoover - 1929 [('Herbert Hoover - 1929', 95, 30), ('Theodore Roosevelt - 1901', 57, 25)]
Franklin D. Roosevelt - 1933 [('Franklin Roosevelt - 1933', 95, 31), ('Franklin Pierce - 1853', 64, 13)]
Gerald R. Ford - 1974 [('Gerald Ford - 1974', 95, 37), ('Richard M. Nixon - 1969', 55, 36)]
James (Jimmy) E. Carter - 1977 [('James Madison - 1809', 86, 3), ('James Monroe - 1817', 86, 4)]
Ronald W. Reagan - 1981 [('Ronald Reagan - 1981', 95, 39), ('John F. Kennedy - 1961', 58, 34)]
George H. W. Bush - 1989 [('George Bush - 1989', 95, 40), ('George W. Bush - 2001', 80, 42)]
William (Bill) J. Clinton - 1993 [('Bill Clinton - 1993', 86, 41), ('William McKinley - 1897', 58, 24)]

In [88]:
t = []
for i1, r1 in pres1.iterrows():
    pname = r1[0] + " - " + str(r1[3])
    e = process.extract(pname,pres2['President'] + " - " + pres2['Year first inaugurated'].astype(str),limit=2)
    #print (r1.values.tolist())
    #print (pres2.loc[[e[0][2]]].values.tolist()[0])
    #print (r1.values.tolist() + pres2.loc[[e[0][2]]].values.tolist()[0])
    t.append(r1.values.tolist() + pres2.loc[[e[0][2]]].values.tolist()[0])
npres = npres = pd.DataFrame(t, columns = pres1.columns.values.tolist() + pres2.columns.values.tolist())
npres.head()

,President,Birth Date,Party,Term Start,Term End,Age,State,Sign,President,Years in office,...,# of electoral votes,# of popular votes,National total votes,Total electoral votes,Rating points,Political Party,Occupation,College,% electoral,% popular
0,George Washington,"February 22, 1732",None,1789,1797,57,Virginia,Pisces,George Washington,8,...,69,NA(),NA(),69,842.0,None,Planter,None,100.0,NA()
1,John Adams,"October 30, 1735",Federalist,1797,1801,61,Massachusetts,Scorpio,John Adams,4,...,132,NA(),NA(),139,598.0,Federalist,Lawyer,Harvard,95.0,NA()
2,Thomas Jefferson,"April 13, 1743",Democratic-Republican,1801,1809,57,Virginia,Aries,Thomas Jefferson,8,...,73,NA(),NA(),137,711.0,Democratic-Republican,"Planter, Lawyer",William and Mary,53.3,NA()
3,James Madison,"March 16, 1751",Democratic-Republican,1809,1817,57,Virginia,Pisces,James Madison,8,...,122,NA(),NA(),176,567.0,Democratic-Republican,Lawyer,Princeton,69.3,NA()
4,James Monroe,"April 28, 1758",Democratic-Republican,1817,1825,58,Virginia,Taurus,James Monroe,8,...,183,NA(),NA(),221,602.0,Democratic-Republican,Lawyer,William and Mary,82.8,NA()

,President,Years in office,Year first inaugurated,Age at inauguration,State elected from,# of electoral votes,# of popular votes,National total votes,Total electoral votes,Rating points,Political Party,Occupation,College,% electoral,% popular
0,George Washington,8,1789,57,Virginia,69,NA(),NA(),69,842.0,None,Planter,None,100.0,NA()